.imageCarrouelContainer {
    width: 100%;
    height: auto;
    max-height: 400px;
    overflow: hidden;
}
.imageCarrouel {
    width: 100%;
    height: auto;
}
.listado {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}
@media (min-width: 576px) {
    .listado {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 768px) {
    .listado {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .contenedor {
        text-align: start;
    }
}
@media (min-width: 992px) {
    .listado {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}
