.productoDescContainer, .listadoProductos {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.listadoProductos {
    gap: 25px;
}
.serviceCard {
    text-align: center;
    width: 100%;
    padding: 10px;
}
.serviceCard h3 {
    font-size: 20px;
}
.serviceCard p {
    font-size: 15px;
}
.serviceCard img {
    width: 45px;
    margin-bottom: 8px;
}
.serviceCard button, .productoContainer .button {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--primary);
    color: #F4F4F4;
    font-weight: 600;
    margin-top: 8px;
    font-size: 14px;
    text-decoration: none;
}
.productoContainer {
    text-align: center;
    width: 100%;
    background: rgba(226, 226, 226, 0.192);
    padding: 20px;
    border-radius: 5px;
}
.productoContainer h4 {
    font-size: 20px; 
    color: var(--secundary);
}
.productoContainer span {
    color: var(--primary);
}
.productoContainer p {
    font-size: 15px;
    margin: 0;
    margin-bottom: 12px;
}
.productoDescContainer {
    background-color: var(--secundary);
    border-radius: 6px;
}
.listadoDescripcion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--text-white);
    margin: 15px 0;
    text-align: start;
}
.productoDescContainer .productoContainer {
    background: #F4F4F4;
}
@media (min-width: 576px) {
    
}
@media (min-width: 768px) {
    .listadoProductos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 992px) {
    .productoDescContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}
