.card {
    box-shadow: var(--shadow);
    background-color: var(--container);
    border-radius: 1rem;
}
.card :first-child,
.card :last-child {
    border-radius: 1rem;
}

.card img {
    width: 100%;
    object-fit: cover;
    height: 12rem;
}
.card p, 
.card h3,
.card div {
    padding: 0rem 1.5rem;
}

.card p {
    font-size: 1.8rem;
}