@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  --shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

:root[data-theme="light"] {
  --bg: #ffffff;
  --container: #f5f5f5;
  --text: #111111;
  --link: #111111;
  --text-hover: #bd29bd;
  --opacity-container: rgba(255, 255, 255, 0.747);
  --text-gray: #777777;
  --primary: #bd29bd;
}

:root[data-theme="dark"] {
  --bg: #111111;
  --container: #242424;
  --text: #ffffff;
  --link: #ffffff;
  --text-hover: #eb44eb;
  --opacity-container: rgba(143, 143, 143, 0.555);
  --text-gray: #a3a3a3;
  --primary: #eb44eb;
}

html {
  font-family: "SN Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text);
  text-decoration: none;
  transition: color ease-in-out 0.2s;
}

p, a,
.text-base {
  font-size: 1.5rem;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.4rem;
}

.text-md {
 font-size: 1.8rem;
}
.text-lg {
  font-size: 2rem;
}
.text-xl {
  font-size: 2.5rem;
}
.text-xxl {
  font-size: 3rem;
}
.text-xxxl {
  font-size: 3.5rem;
}
.text-xxxxl {
  font-size: 4.5rem;
}

.font-light {
  font-weight: 200;
}

a:hover {
  color: var(--text-hover);
}

body {
  background: var(--bg);
  color: var(--text);
  transition: all ease-in-out 0.2s;
}

.icon {
  width: 2.2rem;
}

.btn {
  background-color: transparent;
  border: none;
}

.btn-icon {
  color: var(--text);
}

.flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.items-start {
  align-items: start;
}
.items-center {
  align-items: center;
}

.grid {
  display: grid;
}

.mt-1 {
  margin-top: 0.5rem;
}
.mt-2 {
  margin-top: 1rem;
}

.page-message {
  margin: auto;
  max-width: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 0 1.6rem;
}

.container {
  max-width: 1080px;
  margin: auto;
  padding: 1rem 1.6rem;
}

.navigation ul {
  display: flex;
  gap: 1rem;
}
.navigation ul li {
  list-style: none;
}

.main-grid {
  grid-template-columns: repeat(1, 1fr);
  gap: 3rem;
}

@media (min-width: 768px) {
  .main-grid {
    grid-template-columns: 40% 60%;
  }
}

.pil-navigation-container {
  display: flex;
  gap: 1rem;
  margin: 4rem auto;
  width: fit-content;
}
.pil-navigation-container li {
  list-style: none;
}
.pil-navigation-container li a {
  padding: 0.8rem 2rem;
  background-color: var(--opacity-container);
  border-radius: 2rem;
  border: 1px solid #8686867e;
  color: var(--text-gray);
  transition: all ease-in-out 0.2s;
}
.pil-navigation-container li a:hover {
  background-color: var(--container);
  color: var(--text);
}