.container {
    background-color: var(--container);
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem;
    border-radius: 1rem;
    min-height: 15rem;
    box-shadow: var(--shadow);
}

@media (min-width: 768px) {
    .container {
        grid-template-columns: 40% 60%;
    }
}

.container .title {
    font-size: 2rem;
}

.container .date {
    font-size: 1.8rem;
    font-weight: 800;
    color: var(--primary);
}

.container .subtext {
    font-weight: 200;
    font-style: italic;
}

.container .text {
    font-size: 1.6rem;
}

.container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}