.container {
    background-color: var(--container);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--shadow);
}

.profileImage {
    width: 100%;
    padding: 2rem 6rem;
    border-radius: 50%;
    max-width: 40rem;
    height: auto;
}

.profileData {
    padding: 0 6rem 2rem 6rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.profileData h4 {
    font-size: 2.4rem;
    text-align: center;
}

.socialNetworks {
    margin-top: 1rem;
    display: flex;
    gap: 1.8rem;
}

.profileData .socialNetworks a i {
    font-size: 3rem;
}